  :root {
  --main-color: #021635;
  --main-text-color: #FFFFFF;
  --header-background-color: #012D63;
  --header-nav-color: #C7C7C7;
  --hero-button-color: #8E32C6;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Playfair Display', serif;
  --tertiary-font: 'PT Serif', serif;
  }

  .container {
  width: 1440px;
  height: 2875px;
  margin-right: 215px; 
  margin-left: 215px;
  }

  .header {
  background-color: var(--header-background-color);
  height: 90px;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  }

  .nav {
  display: flex;
  align-items: center;
  width: 100%;
  }
  
  .nav-list-left {
  display: flex;
  align-items: center;
  }

  .header .nav-list-right {
  margin-right: 165px;
  margin-left: auto;
  }

  .nav-list-right, .dropdown-menus {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  .right-list {
  position: relative;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 300;
  color: var(--header-nav-color);
  padding: 10px;
  display: inline-block;
  }
  
  .dropdown-menus {
  position: absolute;
  top: 100%;
  background-color: #527691;
  border-radius: 5px;
  display: none;
  box-shadow: 0 0 5px #020b25;
  }
  
  .nav-item-right {
  padding: 10px;
  }
  
  .right-list:hover .dropdown-menus {
  display: block;
  }
  
  .nav-img {
  padding-left: 168px;
  padding-right: 152px;
  display: flex;
  }

  .nav-item-left {
  padding-right: 29px;
  }

  .header li a {
  text-decoration: none;
  color: var(--header-nav-color);
  font-family: var(--main-font);
  font-weight: 300;
  transition: color 0.3s;
  }

  .header li a:hover {
  color: var(--main-text-color);
  font-weight: 400;
  }


  .hero {
  background-image: url("../images/hero/hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 858px;
  width: 1440px;
  }

  .hero img {
  margin: 94px 0 0 171px;
  }

  .logo {
  font-family: var(--tertiary-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 48px;
  margin-left: 196px;
  }

  .tagline {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 144px;
  margin: 10px 0 0 157px;
  }

  .subtagline {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 72px;
  margin-left: 165px;
  }

  .hero-description {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 1.2;
  margin: 12px 0 0 165px;
  }

  .hero-button {
  color: var(--main-text-color);
  background-color: var(--hero-button-color); 
  border-radius: 10px;
  width: 254px;
  height: 67px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  margin: 41px 0 0 165px;
  }

  .hero-button:hover {
  background-color: #62789c;
  transition: 1s;
  }


  .advantages {
  background: linear-gradient(135deg, #812FB9 3%, #6B2BA1 10%, #4D2582 15%, #35206A 22%, #021635 35%, #02304E 65%, #01516F 80%, #01AECA 100%);
  height: 606px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #fff; 
  }
  
  .advantages-container {
  padding: 25px 50px;
  border: 5px solid #8E32C6;
  height: 396px;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 145px;
  justify-content: center;
  }
  
  .advantages-item {
  text-align: center;
  color: var(--main-text-color);
  position: relative;
  }
  
  .advantages-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -72px;
  width: 1px;
  height: 100%;
  background-color: #fff;
  }
  
  .advantages-item h3 {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.4;
  }
  
  
  .reviews {
  height: 520px;
  width: 1440px;
  border-bottom: 1px solid #fff;
  background-image: 
  url("../images/reviews/reviews_1.jpg"),
  linear-gradient(135deg, #021635 35%, #02304E 65%, #01516F 80%, #01AECA 100%);
  background-position: left bottom;
  background-repeat: no-repeat;
  }
  
  .reviews h2 {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding: 25px 0 24px;
  }
  
  .review-cards {
  display: grid;
  grid-template-columns: repeat(3, 255px);
  column-gap: 93px;
  justify-content: center;
  }
  
  .review-card {
  padding: 49px 14px 131px 14px;
  height: 292px;
  width: 255px;
  border-radius: 15px;
  }

  .review-card:hover {
  height: 330px;
  }

  .review-card:hover .review-text {
  white-space: normal;
  overflow: visible;
  }

  .review-card:first-child {
  background: linear-gradient(135deg, #00E5E6 7%, #00A8F7 26%, #9A76F9 63%, #CC5EC2 100%);
  box-shadow: 0 14px 0 -5px #7B54B2, 0 30px 0 -13px #533978;
  }

  .review-card:nth-child(2) {
  background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26%, #CE3AFF 63%, #8961FF 100%);
   box-shadow: 0 14px 0 -5px #9159B1, 0 30px 0 -13px #61337C;
  }
  
  .review-card:nth-child(3) {
  background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30%, #FF8381 63%, #FF5489 100%);
  box-shadow: 0 14px 0 -5px #B95A4C, 0 30px 0 -13px #732F26;
  }

  .review-text {
  font-family: var(--main-font);
  font-weight: 300;
  color: var(--main-text-color);
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .date {
  font-family: var(--main-font);
  font-weight: 400;
  color: #D8D8D8;
  font-size: 14px;
  margin-top: 8px;
  }

  .review-footer {
  margin-top: 47px;
  }

  .review-img {
  float: left;
  margin-right: 5px;
  }
  
  .name {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 14px;
  }
  
  .description {
  font-family: var(--main-font);
  font-weight: 400;
  color: #D8D8D8;
  font-size: 12px;
  }  


  .order {
  background-image: url("../images/order/order_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 509px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  }

  .order-container {
  grid-template-rows: repeat(4, 50px);
  gap: 19px;
  }
  
  .order h2 {
  font-family: var(--secondary-font);
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 48px;
  display: flex;
  justify-content: center;
  padding: 21px 33px;
  }
  
  .form-input {
  height: 50px;
  width: 580px;
  padding: 11px 24px;
  border-radius: 50px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  }
  
  .form-input:focus {
  width: 690px;
  height: 60px;
  border-color: #3f7dac;
  outline: none;
  box-shadow: 0 0 5px #020b25;
  }
  
  .order-button {
  color: var(--main-text-color);
  background-color: var(--hero-button-color);
  border-radius: 16px;
  width: 248px;
  height: 68px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 24px;
  margin: 19px 37px;
  }
  
  .order-button:hover {
  background-color: #024a70;
  transition: 1s;
  }
  

  .footer {
  background-color: var(--main-color);
  height: 316px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 164px;
  color: white;
  }

  .left-information,
  .right-information {
  display: flex;
  flex-direction: column;
  }

  .left-information {
  align-items: flex-start;
  }

  .right-information {
  align-items: flex-end;
  text-align: right;
  }

  .left-text,
  .left-text-bottom,
  .right-link {
  font-family: var(--main-font);
  font-weight: 300;
  color: white;
  }

  .left-text {
  font-size: 24px;
  line-height: 1.5;
  }

  .left-bottom {
  padding-top: 72px;
  }

  .left-text-bottom {
  font-size: 18px;
  line-height: 1.5;
  }

  .right-link {
  font-size: 24px;
  line-height: 1.5;
  }
  
  .right-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 19px;
  }

  .right-text {
  font-family: var(--tertiary-font);
  font-weight: 300;
  font-size: 24px;
  line-height: 1;
  }